<h1><%=@name %></h1>
 <p>Total Number of Event Occurrences : <%=@event_total %></p>
 <p><%@event_hours.each do |event|  %>
  <%= "#{event[1]} event(s) at Hour: #{event[0]}" %>
<% end %>
 </p>
 <%= partial :'partials/welcome' %>
